<h1> Sophos UTM (SG-Series) -- SSL VPN</h1>
Besides IPSec Sophos UTM (SG-Series) provides SSL-VPN as well. This post describes how one can change the target host. For some reason we rather used a SSL-VPN than IPSec.

<h2> Problem - IP-Adress changed</h2>
Due to some reorganisation I had to reroute a SSL-VPN connection to a different host.

<h2>Solution</h2>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="assets/images/posts/20211109/SSLVPNMUC.png" class="img-fluid rounded-start" alt="Config a new Host for the SSL VPN in the SOPHOS-UTM">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">In the config of the SSL click this button and select your new (DNS)Host.</p>
      </div>
    </div>
  </div>
</div>

