
<article class="window-frame focus" [style.background-color]="backgroundColor"  [style.height]="windowHeight">
  <header class="top-bar">
    <div class="controls">
      <div class="control close" (click)="closeButtonClicked" *ngIf="showCloseButton"  ></div>
      <div class="control minify" (click)="minifyButtonClicked"  *ngIf="showMinifyButton" ></div>
      <div class="control expand" (click)="expandButtonClicked" *ngIf="showexpandButton"  ></div>
    </div>
    <div class="controls">
      <i class="fa fa-arrow-left" *ngIf="showBackButton" (click)="backButtonClicked"></i>
      <i class="fa fa-arrow-right" *ngIf="showNextButton" (click)="nextButtonClicked"></i>
      <i class="fa fa-rotate-right" *ngIf="showReloadButton" (click)="reloadButtonClicked"></i>
      <i class="fa fa-home" *ngIf="showHomeButton" (click)="homeButtonClicked"></i>
    </div>
    <input class="address-bar" [value]="url" *ngIf="showUrl" />
  </header>
  <section class="window-content" >
    <ng-content ></ng-content>
  </section>
</article>
