canvas {
  display: block;
  width: 100%;
  visibility: hidden;
}

.svginside {
  position:relative;
  margin-left:auto; margin-right: auto;
  border: 1px black;
}

.svginside svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
