
   <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
    <div class="col-3">

      <app-widget-nav-categories-vertical  ></app-widget-nav-categories-vertical>

      <div class="card">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    </div>

  </div>
