<h1>Latex Rooty Helix</h1>

<blockquote class="blockquote">
  <p>The idea of the rooty-helix is very simple.
    One starts e.g. with the length of 1, adds a right angle with the length of 1 and the hypotenuse equals
    <span>&#8730;</span>2.
    If one continues with <span>&#8730;</span>2 repeating the procedure (adding a right angle with the length of 1) the
    hypotenuse is <span>&#8730;</span>3.
    And so on and so on. At some point due to the iterations some triangles are overpainted. Because of this, one
    repaints the overpainted triangles.</p>
  <figcaption class="blockquote-footer">
    I posted this originally on 2008-12-07 at <a href="https://texample.net/tikz/examples/rooty-helix/"><cite
        title="Texample.net">https://texample.net/tikz/examples/rooty-helix/</cite></a>.
  </figcaption>
</blockquote>
<div class="alert alert-info">
I'm quite proud that my rooty helix was considered by <a target="blank"
  href="https://texample.net/tikz/examples/rooty-helix/#c1812">Havard Berland</a> for <a
  href="https://commons.wikimedia.org/wiki/File:Rooty-helix.svg">wikipedia</a>.
</div>
<div class="row mt-4s">
  <div class="col">
    <h2>The Source Code</h2>
    <app-github-gist gistId="felixlindemann/62b9ba482fec0b54e8a91c7195e80263"></app-github-gist></div>
  <div class="col">
    <h2>The RootyHelix</h2>
    <picture>
      <img src="/assets/images/posts/20081207/rooty-helix.png" class="rounded" >
    </picture>


  </div>
</div>
